# =========================
# Database Configuration
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=churn_db
DB_USER=user
DB_PASSWORD=password123

# =========================
# Docker Postgres (used by docker-compose)
# =========================
POSTGRES_DB=churn_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password123
