secrets.toml.example


# 이 파일을 복사해서 .streamlit/secrets.toml 파일을 만드세요.
# 절대로 실제 비밀번호가 담긴 파일을 GitHub에 올리지 마세요!

[postgres]
host = "localhost"
port = 5432
database = "your_db_name"
user = "your_user_name"
password = "your_password"